@media screen and (max-width: 40rem) {
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stat-count {
        display: block;
    }
}

.profile-stat-count {
    font-weight: 600;
}